.carousel-item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .img-overlay {
    background-color: rgb(222, 222, 221);
    opacity: 0.251;
  }
  .carousel-caption {
    margin-left: -8.4%;
    max-width: 440px;
    bottom: initial;
    .caption-text {
      font-size: 18px;
    }
  }
}
.carousel-control-prev {
  width: 4.1%;
  .carousel-control-prev-icon {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAYAAAAlBadpAAAAc0lEQVQ4jWMgEWQyMDBsZGBgYCNH438o3kSKARVIGmF4Pbka/zIwMEQPI43tWDT+IkZjBw6NfsNIIxMxqYRm/h38BkQRawDZyXMIGMBMhOYjDAwMPxgYGFyQxBhJTWAYBSAxNsPAGQYGhldQJ4cyMDD8AgDVcHUz5SvX2gAAAABJRU5ErkJggg==");
    width: 15px;
    height: 24px;
  }
}

.carousel-control-next {
  width: 4.1%;
  .carousel-control-next-icon {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAYAAAAlBadpAAAAb0lEQVQ4jWNmgAA2BgaGdQwMDIIMDAxnGEgAII2bGBgY/kNxJima1yNphOEKYjVHMzAw/B01gOEXFgPaiTXAD4cBHcPAACZiTSAHkB1w9NcYRa5GsnPYENIIAtiKoXJiNIIARQUgzICNJGlkYGAAAPXsdd6dPz7IAAAAAElFTkSuQmCC");
    width: 15px;
    height: 24px;
  }
}